__pycache__
client/src/.cache-loader
node_modules
.venv
eval/
models/roberta/roberta_mixed/*
models/roberta/roberta_no_mgt/*
models/roberta/

train-reddit-dataset/raw/*.jsonl
train-reddit-dataset/raw/*.csv
train-reddit-dataset/*.csv
train-reddit-dataset/gemini
train-reddit-dataset/gpt

train-news_dataset/gpt/*.csv
train-news_dataset/gpt/*.json
train-news_dataset/gemini/*.json
train-news_dataset/gemini/*.csv
train-news_dataset/gemini
train-news-dataset/*.csv

